:root {
  --main-bg-color: rgb(255, 0, 0);
  --color-secundario: rgb(251, 255, 0);
  --color-terciario:  #770000;
  --negro: #000000;
  --blanco: #ffffff;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  padding:0px;
}
html,
body {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0px;
  background-color: var(--main-bg-color);
}
body {
  font-family: Helvetica, sans-serif;
  color: #000;
  margin: 0px;
  padding: 0;
}
p{
  margin: 0px ;
  font-size: 1em;
}
/*/*/

nav {
  background: var(--negro);
  width: 100%;
  z-index: 2;
  height: 80px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}
.logonav{
  padding-left: 20px;
}
nav h2 a {
  color: var(--blanco);
  text-decoration: none;
}
nav h2 a:hover {
  opacity: 0.8;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 50%;
}
ul li {
  list-style: none;
  width: 25%;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

ul li a {
  color: var(--blanco);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
ul li a:hover {
  opacity: 0.8;
}
ul li .show {
  display: none;
  fill: var(--blanco);
}
@media screen and (max-width: 600px) {
  nav{
    left: 0;
    bottom: 0;
    
  }

  h2 {
    display: none;
  }

  ul {
    width: 100vw;
  }
  ul li .show {
    display: block;
    height: 50px;
    box-sizing: border-box;
    fill: var(--blanco);
  }
  .partner img{
    width: 50%;
  }
 
}
ul li:active, ul li:hover, ul li:visited{
  background-color: var(--main-bg-color);
}
/*portada*/
.portada{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #ff0000;
}

.portada p{
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  padding-top: 20px;
}
.portada h1{
  margin: 0px;
  font-size: 1.3em;
  letter-spacing: 2px;
  padding-top: 40%;
}
.portada h3{
  margin: 0;
  font-size: 4.5em;
  color: var(--color-secundario);
  font-weight: 900;
}
.logodotaloco{
  width: 90%;
}
.pres{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color:var(--main-bg-color);
  color: var(--blanco);
  
}
.seccion{
  height: 40%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  
}
.seccion h3,
.patrocinadores h3{
  padding-top: 20px;
  margin: 0;
  font-size: 1.3em;
}
.tabla{
  margin-top: 15px;
}
/*tabla*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  text-align: left;
  padding: 8px;
  font-size: 0.9em;
  font-weight: 400;
}

.tabla th{
font-weight: 600;
color: var(--color-secundario);
}

.centro{
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-secundario);
}
.fondo-1{
  background-image:linear-gradient(#ff0000, #290000), url(https://cdn.shopify.com/s/files/1/2312/2697/products/highfive_fg_480x480_crop_center.png);
  background-size: 110%;
  background-color: var(--negro);
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode:hard-light;
}
.fondo-1, .fondo-2 {
  height: 350px;

}
.fondo-1:hover, .fondo-2:hover {
 filter: brightness(150%);
}
.borde{
  border-bottom: 5px solid var(--color-secundario);
}
.fondo-2{
  background-image: linear-gradient(#f1f5009f, #360d00), url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans/3703047/b44f45a34e1c310470a4a46aa759ac0d019add88.jpg);
  background-size: 110%;
  background-color: rgb(54, 3, 3);
  background-repeat: no-repeat;
  background-blend-mode:revert;
}
/*slider*/
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80% !important;
  margin-right: 1em !important;
  /* Center slide text vertically 
       display: flex;
  justify-content: center;
  align-items: center;*/
}
.red{
  background-color: var(--main-bg-color);
}
.grey{
  background-color: var(--color-secundario);
}
.clasi{
  height: 70%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: var(--blanco);
}
  /* tarjeta evento*/
.tarjetaevento{
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  color: var(--blanco);
}
.sup{
  height: 65%;
  text-align: end;
  padding: 20px;
  box-sizing: border-box;
}
.sup p{
  font-weight: 800;
  line-height: 20px;
}
.fondo-clasi{
  background-image:linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(255 38 0 / 48%) 57%, rgb(94 0 0 / 60%) 100%), url(clasi-gratis.jpg);
}
.fondo-direc{
  background-image:linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(255 38 0 / 48%) 57%, rgb(94 0 0 / 60%) 100%), url(clasi-direc.jpg);
}
.fondo-clasi, .fondo-direc{
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.inf{
  height: 35%;
  background-color: var(--color-terciario);
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.inf p{
  font-size: 0.9em;
}
/*boton*/
.boton{
  width: 85%;
  height: 45%;
  font-size: 1em;
  font-weight: 700;
  margin-top: 10px;
	text-decoration:none;
  color: var(--color-secundario);
  background-color: unset;
  border: 2px solid var(--color-secundario);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont{
  display: contents;
  text-decoration: none;
}
.boton:hover{
  background-color: var(--color-secundario);
  color: var(--negro);
}
/* paneles*/

.tab{
  cursor: pointer;
  padding:10px 20px;
  margin: 0px;
  font-weight: 800;
  display:inline-block;
  color:rgb(0, 0, 0);
}
.tabs{
  border-bottom: 1px solid #dadada;
}
.panels{
  height: 65%;
  padding-top: 20px;
  box-sizing: border-box;
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block;
  height: 100%;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  color:#000;
  border-bottom: 3px solid var(--main-bg-color);
}

.patrocinadores{
  height: 450px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--main-bg-color);
  color: var(--blanco);
}
.partner{
  width: 100%;
}
.partner img{
  float: left;
  padding: 25px;
  box-sizing: border-box;
  filter: grayscale(100%);
}
.pd-20{
  padding: 20px 0 15% 0px;
}

.footer{
  width: 100%;
  height: 600px;
  float: left;
  background-color: var(--main-bg-color);
  padding: 20px;
  box-sizing: border-box;
  color: var(--blanco);
}
.foot{
  height: 33%;
  font-size: 17pt;
}
.foot h4{
  margin: 0;
}
.logosvg{
  width: 40%;
}

.svgsocial{
  width: 13%;
  margin-top: 15px;
  border: 2px solid rgb(255 255 255 / 0%);
  cursor: pointer;
}
.svgsocial:hover{
  border: 2px solid var(--color-secundario);
}
.svgsocial:hover{
  fill: #ffbb00;
}
@media (min-width: 760px){
  .portada h1{
    padding-top: 20%;
  }
.pres{
  display: flex;
}
.pd-20{
  padding: 20px 0 6% 0px; 
}
.swiper-slide{
  width: 40% !important;
}
.seccion{
  width: 50%;
}
.partner img{
  width: 25%;
}
.svgsocial{
  width: 8%;
}
.logosvg{
  width: 24%;
}
}
@media (min-width: 960px){
  .tab{
    font-size: 1.3em;
  }
  .portada h1{
    padding-top: 20%;
  }
  .logodotaloco{
    width: 45%;
  }
  ul li a{
    font-size: 1em;
  }
  .pres{
    height: 400px;
  }
  .seccion{
    width: 50%;
    float: left;
    height: 100%;
  }
  #presentacion{
    padding-top: 6%;
  }
  .swiper-slide{
    width: 23.5% !important;
  }
  .patrocinadores{
    height: 320px;
  }
  .patrocinadores h3{
    padding-top: 20px;
    padding-left: 5% ;
  }
  .partner img{
    width: 24%;
    padding: 6.5%;
  }
  .footer{
    height: 300px;
  }
  .foot{
    width: 33.3%;
    float: left;
    padding: 22px;
    box-sizing: border-box;
    height: 100%;
  }
}
@media (min-width: 1024px){
  .portada h1{
    padding-top: 20%;
  }
  td, th{
    font-size: 1.4em;
  }
  .partner img{
    width: 16%;
    padding: 1.5%;
  }
  .svgsocial{
    width: 13%;
  }
  .logosvg{
    width: 40%;
  }
}

.popupsuper{
  background-color: #000000d1;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
.popup {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
}
.popup:target {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 2;
  width: 100%;
}
.popup__close {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  position: fixed;
  top: 20px;
  right: 3%;
  width: 40px;
  height: 40px;
  z-index: 2;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.popup__close:hover {
  color: white;
}

.container-wrapper {
  position: absolute;
  top: 5%;
  width: 90%;
height: 85%;
  overflow: hidden;
background-color: rgb(255, 255, 255);
}
.contenedor-ad{
  border-radius: 20px;
}
.pd20{
  padding: 8% 5%;
}
.yape-flex{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.titulo{
  height: 5%;
}
.info-pago{
  padding: 12px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px dashed #7e7e7e;
  gap: 10px;
}
.boton-pago{
  width: 48%;
  padding: 10px;
  font-size: 1.2em;
  color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.recojo{
  padding-bottom: 10px;
  border-bottom: 2px dashed #7e7e7e ;
}
.pagos{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
h3{
  font-size: 1.1em;
}
.border-b{
  border-radius: 10px;
}
#yape-color{
  background-color: #721091 ;
}
#plin-color{
  background-color: #018bf2;
}
a{
  text-decoration: none;
}